body {
  background-color: rgb(2, 153, 247);
}

h1 {
  background-color: rgb(255, 252, 105);
  color: hsl(239deg 50% 47%);
  padding: 40px;
  text-align: center;
}

p {
  background-color: #e5ff00;
}

ul {
  color: beige;
}

ul li::before {
  content: "✅";
}

table {
  border: solid thin;
}

th {
  height: 2rem;
  background: lightgray;
  border: 1px solid white;
  text-align: left;
}

td {
  height: 2rem;
  background: darkgray;
  border: 1px solid black;
  text-align: center;
}